This code was written for "[Titanic ML competition](https://www.kaggle.com/c/titanic)" on Kaggle. I tried to use different features, models and the highest score was 0.77751.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/content/drive/MyDrive/titanic'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/MyDrive/titanic/train.csv
/content/drive/MyDrive/titanic/gender_submission.csv
/content/drive/MyDrive/titanic/test.csv

In [4]:
train_data = pd.read_csv("/content/drive/MyDrive/titanic/train.csv")
train_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

Naive Bayes (predictions based on Pclass)

In [5]:
features = train_data[['PassengerId','Pclass']]
labels = train_data['Survived']

In [6]:
from sklearn.model_selection import train_test_split
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size=0.33, random_state=42)

In [7]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
clf = GaussianNB()

clf.fit(features_train, labels_train)

pred = clf.predict(features_test)

accuracy = accuracy_score(labels_test, pred)
print(accuracy)

0.6983050847457627

SVC

In [23]:
from sklearn.svm import SVC
clf_rbf = SVC(kernel='rbf', C=10000)

y1 = train_data["Survived"]

features1 = ["Pclass", "Sex", "SibSp", "Parch"]
X1 = pd.get_dummies(train_data[features])
X_test1 = pd.get_dummies(test_data[features])

model1 = SVC(kernel='rbf', C=10000)
model1.fit(X1, y1)
predictions = model.predict(X_test1)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission1.csv', index=False)

In [10]:
test_data = pd.read_csv("/content/drive/MyDrive/titanic/test.csv")
test_data.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [35]:
# Data Cleaning
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].dropna().median())
test_data['Age'] = test_data['Age'].fillna(test_data['Age'].dropna().median())

RandomForestClassifier

In [38]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "Age", "SibSp"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission5.csv', index=False)

KNeighborsClassifier

In [27]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)
predictions = neigh.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission3.csv', index=False)

LogisticRegression

In [29]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X, y)
predictions = clf.predict(X_test)
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission4.csv', index=False)